html,
body {
    margin: 0;
    padding: 0;
    background: #ecf0f1;
    font-family: 'Roboto Condensed', sans-serif;
}

a:focus {
    outline: none;
}

/*******************************************************************
NAVBAR OVERRIDES
*******************************************************************/

.navbar-default {
    /* background-color: #e74c3c; */
    /* background-color: #050505; */
    background-color: rgba(8, 8, 8, 0.92);
    border: none;
    height: 70px;
    padding-top: 10px;
}

/* title */

.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ecf0f1;
}

/* link */

.navbar-default .navbar-nav>li>a {
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #ecf0f1;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #0196ff;
    background: none;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background: black;
}

/* mobile version */
.navbar-toggle {
    border-radius: 0;
}

.navbar-collapse {
    /* background: #050505; */
    border: none;
    box-shadow: none;
}

.collapse.in {
    /* background: #e74c3c; */
    background: rgba(8, 8, 8, 0.92)
}

.collapsing {
    /* background: #e74c3c; */
    background: rgba(8, 8, 8, 0.92)
}

.navbar-default .navbar-toggle {
    border-color: white;
}

.navbar-default .navbar-toggle:hover {
    background-color: #211d1d;
}

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: white;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: white;
    }
}

/*******************************************************************
MAIN PAGE STYLINGS
*******************************************************************/

.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
}

.section {
    position: relative;
    width: 100%;
    min-height: 100%;
    z-index: 500;
}

.section-fixed {
    position: fixed;
    height: 100%;
    top: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#titlecard {
    z-index: 1;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #020c04;
}

/* #about {
	background-image: linear-gradient(141deg, #429771 0%, #40c2d1 51%, #1c7a9d 75%);
} */
#skills {
    margin-top: 100vh;
    padding-top: 70px;
    background: white;
    box-shadow: 0 5px 5px 5px black;
    background-image: url('../res/images/about.jpg');
}

#skills .container {
    opacity: 69%;
    color: white;
    background-color: black;
    border-radius: 1.8%;
}


#timeline {
    padding-top: 70px;
    background: white;
    box-shadow: 0 5px 5px -5px black;
    /* padding-bottom: 20px; */
}


#recommendations {
    border-top: 2px solid #eee;
    padding-top: 70px;
    background: white;
    box-shadow: 0 5px 5px -5px black;
    padding-bottom: 70px;
}


#facts {
    border-top: 2px solid #eee;
    padding-top: 70px;
    background: white;
    box-shadow: 0 5px 5px -5px black;
    padding-bottom: 70px;
}

#contactemail {
    border-top: 2px solid #eee;
    padding-top: 70px;
    background: white;
    box-shadow: 0 5px 5px -5px black;
}

#contact {
    margin-bottom: 325px;
}

.vertically-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* z-index: -1; */
}

.profile-image {
    max-width: 350px;
    max-height: 240px;
    margin-top: 30px;
    border-radius: 8%;
}

.inverse-color {
    color: white;
}

.super-heading {
    font-size: 5em;
}

.bottom-fixed {
    height: 100px;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

.up-button {
    display: inline-block;
    width: 100px;
    height: 200px;
    background: #ffffff57;
    border-radius: 100px;
    margin-top: 150px;
    padding-top: 25px;
    color: black;
    font-size: 3em;
    box-shadow: 0 3px 5px #000;
}

.anchor-up-button {
    color: inherit;
    text-decoration: none;
}

.anchor-up-button:hover {
    color: #050505;
    text-decoration: none;
}

.anchor-up-button:focus {
    color: #050505;
    text-decoration: none;
    outline: none;
}

.flat-bar {
    border-radius: 0;
    border: none;
    box-shadow: none;
    height: 7px;
}

.skillbox {
    display: inline-block;
    /* background: #8bdace; */
    background: #174cadcc;
    border-radius: 2px;
    box-shadow: 0 0px 5px #f00;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}

.skillbox:hover {
    box-shadow: 0 3px 5px #aaa;
    cursor: default;
}

.top-button {
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-block;
    background: #050505;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px #555;
}

.top-button:hover {
    box-shadow: 0 4px 5px #555;
    cursor: pointer;
}

.contact-card {
    bottom: 0;
    position: absolute;
    height: 350px;
    width: 100vw;
    padding-top: 50px;
    z-index: 0;
}

.link-block {
    display: inline-block;
    border: 2px solid white;
    padding-left: 10px;
    padding-right: 10px;
    margin: 3px;
}

.link-block:hover {
    background: white;
    color: #050505;
    cursor: pointer;
}

.no-decoration {
    text-decoration: none;
    color: white;
}

.social-links {
    margin-right: 30px;
    font-size: 40px;
}

.social-links-top {
    margin-right: 20px;
    font-size: 25px;
}

hr {
    margin-bottom: 10px;
    margin-top: 10px;
}

.email {
    color: white;
    text-decoration: none;
    margin-right: 8px;
}

.no-decoration:focus {
    text-decoration: none;
    color: white;
    outline: none;
}

.link-block:focus {
    background: white;
    color: #050505;
}


.progress-bar-danger {
    /* background-color: #e74c3c; */
    background-color: #0196ff;
}



/*Polar Clock*/
.arc-text {
    font: 16px sans-serif;
    color: #ffffff;
}

.arc-center {
    fill: none;
}

.arc-body {
    fill: #adadad;
}


#credit {
    position: absolute;
    font: 10px sans-serif;
    right: 10px;
    bottom: 10px;
    color: #ddd;
}

#credit a {
    color: inherit;
}

#chart {
    color: #ffffff;
    height: 500px;
    width: 500px;
}

#AgePolarClock {
    margin-top: 100vh;
    padding-top: 70px;
    background: white;
    box-shadow: 0 5px 5px 5px black;

}

/*Contact form css*/

.contact-container {
    padding: 35px;
    margin-top: -25px;
}

.contact-form label {
    font-size: 16px;
    font-weight: bold;
}

input[type=text],
input[type=file],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical;
}

input[type=file] {
    height: auto;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 7px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.leftCol {
    padding-right: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    .leftCol {
        padding-right: 0px;
    }

    .stats-row{
        text-align: center;
    }

}

#message {
    height: 150px;
}

@media only screen and (max-width: 1000px) {
    .stats-row{
        text-align: center;
    }
}


/*Recommendations CSS- starts*/

@media only screen and (max-width: 600px) {


    body .pv-recommendation-entity__header {
        width: 100%;
        text-align: center;
    }
    body .pv-recommendation-entity__highlights{
        width: 100%;
        padding-left: 0;
    }
    body .pv-recommendation-entity{
        display: inline-block;
    }
    body .section-info{
        padding-left: 0;
    }
  }

.pv-recommendation-entity:first-child {
    padding-top: 0;
    border-top: none;
}
.pv-recommendation-entity {
    margin-right: 0;
    display: flex;
    border-top: 1px solid #e6e9ec;
    padding: 16px 0;
}

/* image settings */
.pv-recommendation-entity img {
  border-radius: 50%
}

.pv-recommendation-entity__header {
    width: 33%;
}

.pv-recommendation-entity__highlights {
    width: 66%;
    padding-left: 16px;
    text-align: justify;
}

.pv-profile-wrapper a:visited {
    color: #fff;
}
.pv-profile-wrapper a {
    text-decoration: none;
}

.pv-recommendation-entity__member {
    display: block;
    overflow: auto;
    text-decoration: none;
}

a.pv-recommendation-entity__member {
      color: #fff;
      text-decoration: none;
      -webkit-transition: all .2s linear;
      transition: all .2s linear;
      border-bottom: 0px #fff;
}

/* name of recommending */
.t-16 {
    padding-top: 5px;
    font-size: 2.5rem;
    line-height: 1.33333;
}

/* title of recommending */
.t-14 {
    font-size: 1.5rem;
    line-height: 1.42857;
}

/* date and relationship */
.t-12 {
    font-size: 1.2rem;
    line-height: 1.33333;
}

/* more text styles */
.t-black {
    color: rgba(0,0,0,.9);
}
.t-bold {
    font-weight: 600;
}
.t-normal {
    font-weight: 400;
}
.t-black--light {
    color: rgba(0,0,0,.6);
}

/* sizing of recommendation text */
blockquote {
    font-size: 1.7rem;
    line-height: 1.3333;
    font-weight: 200;
    color: rgba(0,0,0);
}
blockquote, q {
    quotes: none;
}
/*Recommendations CSS- ends*/